@{
    ViewData["Title"] = "Terms Of Service";
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3"></div>
            <div class="col-lg-6 col-md-6">

                <!-- Terms and Conditions -->
                <h1 class="text-center">Terms and Conditions</h1>
                <br>
                <h4>Collection and Delivery</h4>
                <br>
                <h5>
                    For the 5m x 10m Marquee
                </h5>
                <p>
                    Due to the difficult assembly required and health and safety concerns, we require the 10m x 5m Marquee to be
                    set up by professionals from Tauranga Party Hire. This comes with fee of $325.00 incl. GST, plus a delivery
                    charge dependent on location (delivery charges are outlined under ‘Charges’ below.)
                </p>
                <br>
                <h5>For the 6m x 8m Marquee please highlight one option:</h5>
                <p>
                    A) I would like Tauranga Party Hire to deliver, assemble, disassemble and collect all marquee/s and agree to
                    pay the charge by Tauranga Party Hire for this service ($275 incl. GST + delivery fee based on location). I
                    authorise Tauranga Party Hire to bring its vehicle onto the property to deliver and recover the marquee/s.
                </p>
                <br>
                <h5 class="text-center">OR</h5>
                <br>
                <p>
                    B) I will collect the 6m x 8m marquee from Tauranga Party Hire and assemble without Tauranga Party Hire. I
                    acknowledge that I am responsible for assembling the marquee in line with the instructions and in a manner
                    which will be safe for those using the marquee and which will not lead to any damage of the equipment.
                </p>
                <br>
                <h4>Other Important Information</h4>
                <p>
                    All marquees must be appropriately anchored using the pegs provided. If properly anchored, the 6m x 8m marquee
                    is capable of withstanding moderate winds, but if in doubt this marquee should not be erected or left
                    assembled.
                    <br><br>
                    Trustpower and Tauranga Party Hire will not assume any responsibility if any loss, damage or harm is incurred
                    through the use or assembly of the marquees. By choosing to borrow and set up the marquee you are agreeing to
                    do so at your own risk. You agree to take proper and reasonable care of the marquees at all times and return
                    them in the same state as they were provided.
                    <br><br>
                    We are delighted to be able to offer this marquee to community groups free of charge, however in the past we
                    have been burdened with the high cost of damaged and missing parts. If parts are damaged or missing when the
                    marquee is returned we will invoice your group for the cost of those parts.
                    <br>
                </p>
                <br>


                <!-- Button to go back to the form page -->
                <div class="text-center">
                    <a class="nav-link text-dark" asp-area="" asp-controller="ApplicantBookingProcess" asp-action="Form">
                        <button class="button">
                            <h5>BACK</h5>
                        </button>
                    </a>
                </div>


            </div>
            <div class="col-lg-3 col-md-3"></div>
        </div>
    </div>
</body>

