@{
    ViewData["Title"] = "Home Page";
}

<div class="L"> <h2>Welcome</h2> to the bookings home page. </div>
<br />
<div class="L"><h6>Please select the bookings tab to get started</h6></div>
<img src="~/images/logo.png" class="float-right"> 
<img src="~/images/logo.png" class="float-right img-fluid" alt="Trustpower Logo" width="200" height="200">


