
h1,
h5, h4, p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h5, h4 {
  font-weight: bold;
}

h1, h5 {
  margin: 0;
}
body {
  margin-top:70px;
  margin-bottom:70px;
  background: rgb(59, 168, 208);
  background: linear-gradient(
    90deg,
    rgba(59, 168, 208, 1) 0%,
    rgba(7, 88, 121, 1) 100%
  );
}
textarea {
  resize:none;
}
a, a:hover, a:active, a:visited {
  color:inherit;
  text-decoration: inherit;
}
.button {
  border:4px solid white;
  width:170px;
  padding:12px;
  border-radius: 30px;
  background-color: inherit;
  margin-right:10px;
  margin-left:10px;
}
.container-center {
  height: 100%;
  position: relative;
  width:100%;
}
.vertical-center {
  text-align:center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}
tbody {
  background-color:white;
  font-weight:normal;
}
thead {
  color:white;
  background-color:#333333;
}

tbody th {
  font-weight:normal;
}